div.swiper-scound{
    position: relative;
    right: calc(50% - 96.1% /2);
    width: 96.1%;
    height: 286.422px;
    background-color: #EF3A4F;
    border-radius: 15px;
    padding-top: 20px;
    margin:7px 0px;
    font-family: mainfont;
}

.swiper2 {
    width: 99.7%;
    height: 246px;
    overflow: hidden;
  }

  div.swiper-scound .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  div.swiper-scound .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  div.swiper-scound .swiper-slide:nth-of-type(2){
    border-radius: 0px 10px 10px 0px;
  }
  div.swiper-scound .swiper-slide:nth-of-type(14){
    border-radius: 10px 0px 0px 10px;
  }
  
  div.slide-main{
    width: 100%;
    height: 100%;
    padding: 5px 12px;
    background-color: #EF3A4F;
  }

  div.swiper-scound .swiper-slide>a.items>div.image{
    position: relative;
    width: 150px;
    height: 150px;
}

div.swiper-scound .swiper-slide>a.items>div.image>div.icon-plus{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #EF394E;
}
div.swiper-scound .swiper-slide>a.items>div.image>div.icon-plus>svg{
    margin-top: 1px;
}

div.swiper-scound .swiper-slide>a.items>div.title{
    position: relative;
    width: 100%;
    height: 64.43px;
    padding-top: 4px;
}

div.swiper-scound .swiper-slide>a.items>div.title>div.takhfif{
    width: 34px;
    height: 20px;
    margin-top: 18px;
    border-radius: 16px;
    text-align: center;
    line-height: 20px;
    color: whitesmoke;
    background-color: #EF394E;
    font-size: 11px;
    font-weight: 600;
    font-family: cursive;
}

div.swiper-scound .swiper-slide>a.items>div.title>div.price{
    position: absolute;
    left: -40px;
    top: 15px;
    direction: ltr;
    width: 162px;
    height: 34.40px;
    color: #3F4064;
    font-size: 13px;
    font-weight: 600;
    font-family: cursive;
}

div.swiper-scound .swiper-slide>a.items>div.title>div.price>svg{
    margin:9px 0px;
    vertical-align: middle;
}

div.swiper-scound .swiper-slide>a.items>div.title>div.price>span{
    position: relative;
    bottom: 5px;
    text-decoration:line-through;
    margin-left: 15px;
    color: #C3C3CE;
    font-size: 10px;
    font-family: cursive;
}

div.swiper-scound .swiper-slide>a.all-view{
  position: relative;
    display: block;
    width: 42.08%;
    height:88.10px;
}
div.swiper-scound .swiper-slide>a.all-view>div.icon{
    margin-right: 15px;
    width: 46px;
    height: 46px;
    border: 1px solid #028FB3;
    border-radius: 50%;
}

div.swiper-scound .swiper-slide>a.all-view>p.all-view{
  margin-top: 12px;
  font-size: 16px;
  color: #3F4064;
}

  a.main-supermarkti>div.supermarkti{
    position: relative;
    right: calc(50% - 96.1% /2);
    width: 96.1%;
    height: 110px;
    border-radius: 16px;
    margin-bottom: 25px;
    font-family: mainfont;
    background-color: #EEF1EF;
    background-image: url(../image/freshPattern.svg);
    background-repeat: no-repeat;
  }


  a.main-supermarkti>div.supermarkti>div.supermarkti-1>div.frist{
    position: absolute;
    top:calc(50% - 68px/2);
    right:3%;
  }

  a.main-supermarkti>div.supermarkti>div.supermarkti-1>div.second{
    position: absolute;
    top:calc(50% - 32px/2);
    right: 9.8%;
  }

  a.main-supermarkti>div.supermarkti>div.supermarkti-1>div.third{
    position: absolute;
    top: calc(50% - 30px/2);
    right: 32.5%;
    width: 9%;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #39AE00;
  }

  a.main-supermarkti>div.supermarkti>div.supermarkti-2{
    position: absolute;
    top: calc(50% - 74px/2);
    left: 14%;
    width: 38%;
    height: 74px;
    text-align: center;
  }

  a.main-supermarkti>div.supermarkti>div.supermarkti-2>div{
    position: relative;
    display: inline-block;
    width: 74px;
    height: 74px;
    margin-right: -4px;
    margin-left: 10.5px;
    border-radius: 50%;
    background-color: #fff;
  }
  a.main-supermarkti>div.supermarkti>div.supermarkti-2>div:nth-of-type(6){
    margin-left: 0;
  }

  a.main-supermarkti>div.supermarkti>div.supermarkti-2>div>img{
    position: absolute;
    right:calc(50% - 58px/2);
    top: calc(50% - 58px/2);
    width: 58px;
    height: 58px;
    border-radius: 20%;
  }

  a.main-supermarkti>div.supermarkti>div.supermarkti-2>div>div.price{
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 49%;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    background-color: #EF3A4F;
  }

  a.main-supermarkti>div.supermarkti>div.supermarkti-3{
    position:absolute;
    left: 30px;
    top: calc(50% - 50px/2);
    width: 11%;
    height: 50px;
    border-radius: 40px;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
    word-spacing: -1px;
    color:#39AE00;
    background-color: #FFFFFF;
  }

  a.main-supermarkti>div.supermarkti>div.supermarkti-3>svg{
    vertical-align: middle;
    padding-right: 7px;
  }

  div.div-for{
    position: relative;
    right: calc(50% - 96.1% /2);
    width: 96.1%;
    height: 235.5px;
    margin-bottom: 40px;
  }


  div.div-for>a.a-for{
    display: inline-block;
    width: 24.22%;
    height: 235.5px;
    margin-left: 9.5px;
    overflow: hidden;
    border-radius: 16px;
  }

  div.div-for>a.a-for:nth-last-of-type(1){
    margin-left: 0;
  }

  h3.dbandi-kala{
    margin-bottom: 36px;
    font-family: mainfont;
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
  }